---
layout: default
---
<article class="post">

  <header class="post-header">
    <strong class="post-title">{{ page.title }}</strong>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
